POSTGRES_DB=flowcrm
POSTGRES_USER=flowcrm
POSTGRES_PASSWORD=flowcrm_dev_password
DATABASE_URL=postgresql+psycopg://flowcrm:flowcrm_dev_password@db:5432/flowcrm
APP_ENV=development
# Gerar chave secreta segura: python -c "import secrets; print(secrets.token_hex(64))"
SECRET_KEY=f7fcbd5baa18261679c401ec86409b5f9773e0de018aa2a73974b9b219edb11f4526b7c13ac12332875b969a518c63dd02352e49302c596c591c04612d757b86
